<table class="table table-bordered table-striped table-condensed dataTable" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" dt-instance="vm.dtInstance">
	<thead>
		<th></th>
		<th>Nom</th>
		<th class="text-center">Spécialité</th>
		<th class="text-center">Grade</th>
		<th class="text-center">Salaire par heure</th>
		<th class="text-center">Salaire</th>
		<th class="text-center">Exp. restante</th>
		<th class="text-center">Aff. restante</th>
		<th>Position favorite</th>
		<th class="text-center">Hardcore</th>
		<th class="text-center">Charme</th>
		<th class="text-center">Savoir-faire</th>
		<th class="text-center">Classement <span class="fa fa-question-circle" 
			title="Classement de la fille dans son domaine d'expertise.&#10;Mettez le curseur sur le rang pour voir la valeur d'attaque initiale."></span>
		</th>
	</thead>
	<tbody class="align-middle">
		<tr ng-repeat="fille in vm.filles | filter:vm.search track by fille.id">
			<td class="text-center"><img ng-if="$index >= vm.currentPage * 10 && $index <= (vm.currentPage + 1) * 10" class="girl-avatar" ng-src="image?urlImage={{fille.avatar}}" width="60px" height="60px" /></td>
			<td class="align-middle">{{ ::fille.name }} <span class="badge badge-secondary" title="Niveau">{{ ::fille.level }}</span></td>
			<td class="text-center align-middle">
				<img ng-src="img/carac{{ fille.typeId }}.png" width="20px" /> {{ ::fille.type }}
			</td>
			<td class="text-center align-middle"><a href class="btn btn-link" ng-click="vm.openModalAvatar(fille)">{{ ::fille.grade }}</a></td>
			<td class="text-center align-middle">{{ ::fille.salaryPerHour }}</td>
			<td class="text-center align-middle">{{ ::fille.salary }}</td>
			<td class="text-center align-middle">{{ ::fille.expLeftNextLevel }}</td>
			<td class="text-center align-middle">{{ ::fille.affLeftNextLevel }}</td>
			<td class="align-middle">{{ ::fille.favoritePosition }}</td>
			<td class="text-center align-middle">{{ ::fille.hardcore }}</td>
			<td class="text-center align-middle">{{ ::fille.charme }}</td>
			<td class="text-center align-middle">{{ ::fille.savoirFaire }}</td>
			<td class="text-center align-middle"><span class="label bg-red" title="{{ ::fille.expertiseBaseValue }}">{{ ::fille.expertiseRanking | ordinal }}</span></td>
		</tr>
	</tbody>
</table>
<div>
	<b>Nombre de fille par domaine d'expertise :</b> 
	<span><img src="img/carac1.png" width="20px" /> {{ vm.nbHardcore }}</span>
	<span><img src="img/carac2.png" width="20px" /> {{ vm.nbCharme }}</span>
	<span><img src="img/carac3.png" width="20px" /> {{ vm.nbSavoirFaire }}</span>
</div>