
<div class="modal-header">
    <h3 class="modal-title " id="modal-title">Avatars de {{ vm.girl.name }}
    </h3>
   	<span class="badge badge-pill float-right" ng-class="vm.rarityClass">{{ vm.rarityLabel }}</span>
</div>
<div class="modal-body text-center">
	<img ng-repeat="gradeId in vm.grades" ng-src="filles/{{vm.girl.id}}/avatar/{{gradeId}}" width="160px" class="img-fluid" />
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.close()">Fermer</button>
</div>
