<div class="info-box bg-yellow">
	<span class="info-box-icon" style="line-height:normal;">
		<img ng-src="image?urlImage={{ ::vm.fille.avatar }}" style="object-fit: contain;"/>
	</span>

	<div class="info-box-content">
		<span class="info-box-text">Fille en besoin de culture</span> 
		<span class="info-box-number">{{ vm.fille.name }}</span>

		<!-- div class="progress">
			<div class="progress-bar" style="width: 70%"></div>
		</div-->
		<span class="progress-description"> Niveau <b>{{ vm.fille.level }}</b> </span>
	</div>
</div>