<div class="box box-widget widget-user">
	<div class="widget-user-header bg-aqua-active">
		<h3 class="widget-user-username">Meilleure en {{ ::vm.type.libelle }} <img ng-src="img/carac{{ ::vm.type.id }}.png" width="25px" /></h3>
		<p class="widget-user-desc">{{ ::vm.fille.pseudo }}</p>
	</div>
	<div class="widget-user-image">
		<img class="rounded-circle" ng-src="image?urlImage={{ ::vm.fille.avatar }}" alt="{{ ::vm.fille.pseudo }}">
	</div>
	<div class="box-footer">
		<div class="row">
			<div class="col-sm-4 border-right">
				<div class="description-block">
					<h5 class="description-header">{{ ::vm.fille[vm.type.field] }}</h5>
					<small class="description-text">ATTAQUE</small>
				</div>
			</div>
			<div class="col-sm-4 border-right">
				<div class="description-block">
					<h5 class="description-header">{{ ::vm.fille.level }}</h5>
					<small class="description-text">NIVEAU</small>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="description-block">
					<h5 class="description-header"><span class="fa fa-star" ng-repeat="i in ::vm.getNumber(vm.fille.grade) track by $index"></span></h5>
					<small class="description-text">GRADE</small>
				</div>
			</div>
		</div>
	</div>
</div>