<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<!-- Logo -->
		<a href="" class="navbar-brand">
			<span class="logo-lg"><b>HHeroes</b> Manager</span>
		</a>
			<ul class="navbar-nav mr-auto">
			</ul>
			<ul class="navbar-nav mt-2 mt-md-0">	
				<li class="nav-item">
					<a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false"> 
						<img src="img/money.png" width="20px" /> <span class="badge label-danger">{{ vm.hero.money.toLocaleString() }} $</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false"> 
						<img src="img/energy.png" width="20px" /> <span class="badge label-success">{{ vm.hero.energyQuest }}</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" data-toggle="dropdown"> 
						<img src="img/fist.png" width="20px" /> <span class="badge label-warning">{{ vm.hero.energyFight }}</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false"> 
						<img src="img/girls.svg" width="20px" /> <span class="badge label-danger">{{ vm.nbFilles }}</span>
					</a>
				</li>	
				<li class="nav-item user user-menu">
					<a href="" class="nav-link" data-toggle="dropdown" aria-expanded="false" ng-click="vm.updateUser()"> 
						<img ng-src="image?urlImage={{ vm.hero.avatarUrl }}" class="user-image" alt="User Image" ng-show="vm.hero.avatarUrl"> 
						<span class="hidden-xs">{{ vm.hero.name }}</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link" data-toggle="dropdown" aria-expanded="false" uib-tooltip="Se déconnecter" ng-click="vm.logout()" tooltip-placement="bottom-right"> 
						<span class="fa fa-sign-out"></span>
					</a>
				</li>
			</ul>
	</nav>
</header>