<div class="box box-widget widget-user-2">
	<!-- Add the bg color to the header using any of the bg-* classes -->
	<div class="widget-user-header bg-light">
			<div class="widget-user-image">
				<img class="rounded-circle" ng-src="image?urlImage={{ vm.hero.avatarUrl }}" alt="User Avatar">
			</div>
			<small class="pull-right">
				<img src="img/energy.png" width="20px" /> {{ vm.hero.energyQuest }} / {{ vm.hero.energyQuestMax }}<br>
				<img src="img/fist.png" width="20px" /> {{ vm.hero.energyFight }} / {{ vm.hero.energyFightMax }}
			</small>
			<!-- /.widget-user-image -->
			<h3 class="widget-user-username">{{ vm.hero.name }}</h3>
			<p class="widget-user-desc">Level <b>{{ vm.hero.level }}</b> ({{ vm.hero.xp.toLocaleString() }} xp)</p>
	</div>
	<div class="box-footer no-padding">
		<div class="nav-stacked">
			<div class="nav-link nav-link-stacked d-flex justify-content-around">
				<button type="button" class="btn btn-sm btn-outline-dark" ng-click="vm.updateStat(1)" ng-disabled="vm.carac !== 0">x100 <img ng-src="img/carac1.png" width="15px" ng-show="vm.carac !== 1"><span class="fa fa-spin fa-refresh" ng-show="vm.carac === 1"></span></button>
				<button type="button" class="btn btn-sm btn-outline-danger"  ng-click="vm.updateStat(2)" ng-disabled="vm.carac !== 0">x100 <img ng-src="img/carac2.png" width="15px" ng-show="vm.carac !== 2"><span class="fa fa-spin fa-refresh" ng-show="vm.carac === 2"></span></button>
				<button type="button" class="btn btn-sm btn-outline-success" ng-click="vm.updateStat(3)" ng-disabled="vm.carac !== 0">x100 <img ng-src="img/carac3.png" width="15px" ng-show="vm.carac !== 3"><span class="fa fa-spin fa-refresh" ng-show="vm.carac === 3"></span></button>
			</div>
			<div class="nav-link nav-link-stacked"><a href="">Kobans <span class="pull-right badge bg-aqua">{{ vm.hero.kobans.toLocaleString() }}</span></a></div>
			<div class="nav-link nav-link-stacked"><a href="">Expérience avant prochain niveau <span class="pull-right badge bg-green">{{ vm.hero.experience.left.toLocaleString() }} xp</span></a></div>
		</div>
	</div>
</div>