<div class="modal-header" style="position: relative">
	<h3 class="modal-title" id="modal-title">Profil de {{ vm.hero.name }}</h3>
	<div style="position: absolute; right: 10px; top: 10px; display: inline-block; background-color: rgb(244,244,244); border-radius: 50%; padding: 1px">
	<img style="border: 3px solid #fff;" class="img-circle pull-right" ng-src="image?urlImage={{ ::vm.hero.avatarUrl }}" alt="{{ ::vm.hero.name }}" width="75px" height="75px">
	</div>
</div>
<form class="form" ng-submit="vm.valider()">
	<div class="modal-body">
		<br>
		<div class="box-body">
			<div class="form-group">
				<label for="txtMail" class="control-label">Email</label>
				<input id="txtMail" ng-model="vm.user.email" type="email" class="form-control" placeholder="Email" required>
			</div>
			<div class="form-group">
				<label for="txtPassword" class="control-label">Mot de passe</label>

				<input id="txtPassword" ng-model="vm.user.password" type="password" class="form-control" placeholder="Mot de passe" required>
			</div>
			<div class="form-group">
				<label class="switch"> 
					<input type="checkbox" ng-model="vm.user.autoSalary"> <span class="slider round"></span>
				</label>
				Collecte automatique des salaires
			</div>
			<div class="form-group" ng-if="vm.user.admin">
				<label for="lstBoss" class="control-label">Boss automatique</label>
				<select id="lstBoss" class="form-control" 
					ng-model="vm.user.boss.id" 
					ng-options="boss.id as boss.libelle for boss in vm.bosses"></select>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-warning" type="button" ng-click="vm.close()">Fermer</button>
		<button class="btn btn-primary" type="submit">Valider</button>
	</div>
</form>