body {
	width: 100%;
	heigth: 100%;
	background-color: #ecf0f5;
}

.icon {
	width: 16px;
	/*margin: 7px 9px 9px;*/
}

.white {
	fill: white;
}

.pointer {
	cursor: pointer;
}

.align-middle {
	vertical-align: middle !important;
}

.label-dark {
	background-color: #111;
}

.img-circle {
	background-color: wheat;
}

.img-display {
	line-height: normal;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
	margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.girl-avatar {
	border: 1px solid grey;
	border-radius: 2px;
}

.starting {
	background-image: linear-gradient(to bottom, #eee, #ccc);
}

.common {
	background-image: linear-gradient(to bottom, #eee, #ccc);
}

.rare {
	background-image: linear-gradient(to bottom, #adb, #7b9);
}

.epic {
	background-image: linear-gradient(to bottom, #fd7, #b83);
}

.legendary {
	background-image: url("../img/legendary.jpg");
	background-size: cover;
}

.nav-link-stacked {
	border-bottom: 1px solid lightgrey; 
}