<!doctype html>
<html ng-app="heroesApp">
<head>
<meta charset="UTF-8">
<title>HHeroes Manager</title>
<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="css/vendor/datatables.min.css">
<link rel="stylesheet" href="css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="css/vendor/AdminLTE.min.css">
<link rel="stylesheet" href="css/vendor/skin-blue.min.css">
<link rel="stylesheet" href="css/vendor/angular-ui-notification.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/angular-animate.min.js"></script>
<script src="js/vendor/ui-bootstrap-tpls.min.js"></script>
<script src="js/vendor/datatables.min.js"></script>
<script src="js/vendor/angular-datatables.min.js"></script>
<script src="js/vendor/angular-datatables.bootstrap.min.js"></script>
<script src="js/vendor/adminlte.min.js"></script>
<script src="js/vendor/angular-ui-notification.min.js"></script>
<script src="js/app.js"></script>
<script src="pages/girl/girlList.ctrl.js"></script>
<script src="pages/activity/activity.ctrl.js"></script>
</head>
<body ng-controller="IndexController as vm" class="skin-blue sidebar-mini">
	<div class="wrapper">
		<header-widget hero="vm.hero" nb-filles="vm.filles.length"></header-widget>
		<div class="content-wrapper" style="margin-left: 0">
			<section class="content" >
				<div class="row" ng-if="vm.filles.length">	
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-evolve-widget fille="::vm.nextGirlToEvolve"></girl-evolve-widget>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-weakest-widget fille="vm.getWeakestGirl()"></girl-weakest-widget>		
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-salary-widget filles="vm.filles" on-collect="vm.collectSalary(collectedSalary)" on-do-collect="vm.doCollectSalaries()"></girl-salary-widget>	
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<gift-sum-widget cadeaux="vm.cadeaux"></gift-sum-widget>	
					</div>
				</div>
				<div class="row" ng-if="vm.filles.length">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<hero-widget hero="vm.hero"></hero-widget>		
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-best-widget fille="vm.getBestOnTypeGirl('hardcore')" type="vm.types.hardcore"></girl-best-widget>		
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-best-widget fille="vm.getBestOnTypeGirl('charme')" type="vm.types.charme"></girl-best-widget>		
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<girl-best-widget fille="vm.getBestOnTypeGirl('savoirFaire')" type="vm.types.savoirFaire"></girl-best-widget>		
					</div>	
				</div>
				<div class="row">
					<!-- Combat de boss -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="box collapsed-box">
							<div class="box-header with-border">
								<h3 class="box-title">Combats de boss</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<div class="form-group">
								<label class="form-label" for="lstBoss">Sélectionner un boss à combattre :</label>
								<select id="lstBoss" class="form-control" 
									ng-model="vm.bossSelected" 
									ng-options="boss.id as boss.libelle for boss in vm.bosses"></select>
								</div>
								<button type="button" ng-disabled="vm.hero.energyFight === 0" class="btn btn-primary" ng-click="vm.destroyBoss()">Dépenser toute son énergie sur le boss !</button>
								<small class="help-block pull-right" style="display: inline-block">Energie de combat restante : {{ vm.hero.energyFight }}</small>
							</div>
						</div>
					</div>
					<!-- Faire les missions automatiquements -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="box collapsed-box">
							<div class="box-header with-border">
								<h3 class="box-title">Missions automatiques</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
							<div class="box-body" style="min-height: 300px">
								<activity-list ng-if="vm.hero" get-missions="vm.getMissions()"></activity-list>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Harem</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse">
										<i class="fa fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="box-body">
								<girl-list filles="vm.filles"></girl-list>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>